<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.insist.jiabei.readingnotes">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/mainTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="手机号登录" />
        <activity
            android:name=".LogonActivity"
            android:label="手机号注册" />
        <activity
            android:name=".HomeActivity"
            android:label="读书笔记" />
        <activity
            android:name=".BookClassActivity"
            android:label="书籍分类管理" />
        <activity
            android:name=".AddClassActivity"
            android:label="添加书籍分类" />
        <activity android:name=".ClassListActivity" />
        <activity
            android:name=".BookActivity"
            android:label="书籍管理" />
        <activity
            android:name=".AddBookActivity"
            android:label="添加书籍" />
        <activity android:name=".BookListActivity" />
        <activity
            android:name=".NoteActivity"
            android:label="读书笔记" />
        <activity
            android:name=".AddNoteActivity"
            android:label="添加笔记" />
        <activity android:name=".MyNoteListActivity" />
        <activity
            android:name=".EditNoteActivity"
            android:label="修改笔记内容" />
        <activity android:name=".AllNoteListActivity" />
        <activity
            android:name=".UserNoteActivity"
            android:label="查询用户的所有笔记" />
        <activity android:name=".FindUserNoteActivity"></activity>
    </application>

</manifest>